*{
    margin: 0px;
    padding: 0px;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/*shared style*/
.navber,.navber ul, .btn,.msg,.tow-btn{
    display: flex;
    align-items: center;
}

/*individual style*/
#head{
   max-width: 1600px;
   background-color: #1A0B2E;
   padding-top: 24px; 
}
.navber{
     justify-content: space-around;
     padding-bottom: 24px;     
}
.nav-logo h1{
    font-size:2rem ;
    font-weight:900 ;
    color: #FFFFFF;
}
.nav-logo .col{
  background: linear-gradient(35deg, #F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.navber ul{
    gap: 2rem;
}
.navber ul li{
    list-style: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}

.nav-home-icon{
    display: none;
    color: #FFFFFF;
}
.btn,.msg{
   color: #FFFFFF;
   font-size: 1rem;
   font-weight: 600;
   padding: 12px 16px;
   background: linear-gradient(30deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
   border: none;
   gap: 4px;
   border-radius: 30px;
}
#banner{
    max-width: 1600px;
    background-image: url(./assets/hero-bg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.banner-container{
    max-width: 560px;
    margin: 0 auto;
    padding-bottom: 6.32rem;
}

.banner-container .banner-img{
    max-width: 350px;
    background:linear-gradient(60deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    margin: 0 auto;
    margin-top: 6.32rem;
    text-align: center;
    border: 8px solid #2A186C;
    border-radius: 50%;
    position: relative;
}
.banner-img img{
    margin: 0 auto;
    padding: 69px 75px 81px 81px; 
}
.banner-container h1{
       font-size:3.75rem ;
       font-weight:800;
       color:#FFFFFF;
       text-align: center;
       margin:2.5rem 0rem 8px 0rem;
}
.banner-container p{
    font-size: 1rem;
    color:#FFFFFF;
    text-align: center;
    margin-bottom: 1.5rem;
}

.tow-btn{
  justify-content: center;
   gap: 8px;
}

.msg{
    border: 1px solid #00FF88;
    background: transparent;
    color:#00FF88 ;
}

.head-on-img{
    max-width: 75px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    background-color: #00FF88;
    border:none;
    border-radius: 30px;
    padding: 8px 16px;
    position: absolute;
    left: 275px;
    top: 20px;
}

/*about section*/

#about{
    max-width: 1600px;
    background-color: #1A0B2E;
    padding-top: 3.12rem;
    padding-bottom: 7.5rem;
}
.about-container{
    max-width: 1200px;
    margin: 0 auto; 
    text-align: center;
}
.about-container h1{
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
.about-container p{
    font-size: 1rem;
    line-height: 20px;
    color: white;
}
.about-text{
    margin-bottom: 10rem;
}
.about-text .p-1{
    margin: 1rem 0px 2rem 0px;
}
.about-user-x h1{
    color: #00FF88;
    margin-bottom: 1rem;
}
.about-user-x{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
/*responsive*/
@media screen and (max-width:576px) {
    .navber{
        margin-top: 18px;
    }
    .nav-menu,.nav-btn-continer{
        display: none;
    }
    .nav-home-icon{
        display: inline;
        width: 1.5rem;
        height: 1.5rem;
    }

.banner-container .banner-img{
    max-width: 55%;
    margin:  0 auto;
}
.banner-img img{
    width: 30%;
    margin: 0 auto;
    padding: 50px; 
}
.head-on-img{
    left:60% ;
    top: 4px;
}
.about-container{
    width: 95%;
    text-align: center;
}
.about-container h1{
    font-size: 2rem;
}
.about-text{
    margin-bottom: 5rem;
}
.about-user-x{
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2.5rem;
    row-gap: 4rem;
}
}