*{
    margin: 0px;
    padding: 0px;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
    max-width: 1600px;
    margin: 0 auto;
}
.navber,.navber ul, .btn,.msg,.tow-btn,.card-items,.time,.meet-host,.host-icon,.foot-icon{
    display: flex;
    align-items: center;
}

/*individual style*/
#head{
   max-width: 1600px;
   background-color: #1A0B2E;
   padding-top: 24px; 
}
.navber{
     justify-content: space-around;
     padding-bottom: 24px;     
}
.nav-logo h1{
    font-size:2rem ;
    font-weight:900 ;
    color: #FFFFFF;
}
.nav-logo .col{
  background: linear-gradient(35deg, #F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.navber ul{
    gap: 2rem;
}
.navber ul li{
    list-style: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}

.nav-home-icon{
    display: none;
    color: #FFFFFF;
}
.btn,.msg{
   color: #FFFFFF;
   font-size: 1rem;
   font-weight: 600;
   padding: 12px 16px;
   background: linear-gradient(30deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
   gap: 4px;
   border-radius: 30px;
   cursor: pointer;
}
#banner{
    max-width: 1600px;
    background-image: url(./assets/hero-bg.png);
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-container{
    max-width: 560px;
    margin: 0 auto;
    padding-bottom: 6.32rem;
}

.banner-container .banner-img{
    max-width: 350px;
    background:linear-gradient(60deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    margin: 0 auto;
    margin-top: 6.32rem;
    text-align: center;
    border: 8px solid #2A186C;
    border-radius: 50%;
    position: relative;
}
.banner-img img{
    margin: 0 auto;
    padding: 69px 75px 81px 81px; 
}
.banner-container h1{
       font-size:3.75rem ;
       font-weight:800;
       color:#FFFFFF;
       text-align: center;
       margin:2.5rem 0rem 8px 0rem;
}
.banner-container p{
    font-size: 1rem;
    color:#FFFFFF;
    text-align: center;
    margin-bottom: 1.5rem;
    opacity: 80%;
}

.tow-btn{
  justify-content: center;
   gap: 8px;
}

.msg{
    border: 1px solid #00FF88;
    background: transparent;
    color:#00FF88 ;
}

.head-on-img{
    max-width: 75px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    background-color: #00FF88;
    border:none;
    border-radius: 30px;
    padding: 8px 16px;
    position: absolute;
    left: 75%;
    top: 5%;
}

/*about section*/

#about{
    max-width: 1600px;
    background-color: #1A0B2E;
    padding-top: 3.12rem;
    padding-bottom: 7.5rem;
}
.about-container{
    max-width: 1200px;
    margin: 0 auto; 
    text-align: center;
}
.about-container h1,.heading h1,.featured-container h2,.host-container h2{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
}
.about-container p{
    font-size: 1rem;
    line-height: 20px;
    color: white;
    opacity: 80%;
}
.about-text{
    margin-bottom: 10rem;
}
.about-text .p-1{
    margin: 1rem 0px 2rem 0px;
}
.about-user-x h1{
    color: #00FF88;
    margin-bottom: 1rem;
}
.about-user-x{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

/*service sector*/
#quality{
    background-color: #230E3D;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}
.quality-container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}
.heading h1{
    margin-bottom: 2.5rem;
}
.quality-card h3,.featured-container .card h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
} 
.quality-card p,.featured-container .card p,.host-intro p,.footer-container p{
    font-size: 1rem;
    line-height: 1.25rem;
    color: white;
    opacity: 60%;
}
.quality-card{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    gap: 30px;
}
.quality-card .card{
    width: 100%;
    height: 100;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    text-align: left;
}
#card-1{
    grid-row: 1 / span 2;
}
#card-2{
    grid-column:  span 2;
}
.card-container-1,.card-container-2,.card-container-3{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.card-container-1{
    margin-top: 107px;
    margin-bottom: 107px;
}
.card-container-2,.card-container-3{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

/* featured section*/

#featured{
    background-color: #1A0B2E;
}
.featured-container{
    width: 77%;
    max-width: 1230px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}
.featured-container .card h3{
    margin: 1.5rem 1.5rem 12px;
}
.card-items{
     justify-content: space-between;
     margin-top: 40px;
     text-align: start;
}
.featured-container .card-items .card{
    border-radius: 30px;
    max-width: 380px;
    margin: 0 auto;
    background-color: #250D44;
}
.video{
    width: 100%;
    height: 214px;
    border-radius: 30px 30px 0 0;
}
.video iframe{
    width:100%;
    height:100%;
    border-radius: 30px 30px 0 0;
    cursor: pointer;
}
.card-items .card h3,.card-items p{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.card-items p{
    margin-bottom: 12px;
    line-height: 1.5rem;
}
.time{
    align-items: center;
    gap: 10px;
    margin: 14px 1.5rem 1.5rem;
    margin-bottom: 1.5rem;
}
.time img{
    width: 20px;
    height: 20px;
}
.time h4{
    color: #00FF88;
    font-size: 1rem;
    font-weight: bold;
}

/*host section*/
#host{
    max-width: 1600px;
    background-color: #1A0B2E;
    padding-bottom: 120px;
}
.host-container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto; 
}
.host-container h2{
    margin-bottom: 2.5rem;
}

.meet-host-container{
    border: none;
    border-radius: 40px;
    background-color: #250D44;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; 
}
.meet-host{
    gap: 1.5rem;
    width:93% ;
    max-width: 1120px;
    margin: 0 auto;
}
.host-intro h3{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
}
.host-intro p{
    margin-bottom: 1rem;
}
.host-icon .host-p-icon{
    margin-right:8px;
    border: 2px solid #533C72;
    border-radius: 50%;
    padding: 8px;
}
.host-icon .host-p-icon img,.host-icon .host-p-icon i{
    width: 1.25rem;
    height: 1.25rem;
}
#youtube i{
    color: #FB09B4;
}

/*footer*/
#foot{
    max-width: 1600px;
    background-color: #1A0B2E;
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-top: 120px; 
    padding-bottom: 120px;
}
.footer-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
#foot-head,.foot-icon{
    margin-bottom: 2rem;
}
.foot-icon{
    justify-content: center;
    gap: 2.5rem;
}
#white{
    margin-right: 2.5px;
    color: white;
}
.icon-name,.footer-container p{
   color: white;
   opacity: 60%;
}
.foot-i-items a{
    text-decoration: none;
}

/*hover*/

.btn:hover,ul li:hover,.host-p-icon img:hover,.host-p-icon i:hover,.msg:hover{
    transition: all 0.3s ease;
    transform: scale(1.05);
    box-shadow: 0px 4px 4px 4px #FB09B4;
}
.msg:hover{
     box-shadow: 0px 4px 4px 4px #00FF88;
}
ul li:hover,.icon-name:hover{
    background: linear-gradient(30deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: none;
    border-radius: 40px;
    padding: 5px;
    cursor: pointer;
}
.icon-name:hover{
    opacity: 100%;
}
.card:hover,.meet-host-container:hover{
    border: 2px solid #FB09B4;
}
/*responsive*/
@media screen and (max-width:576px) {
 #head{
    width: 100%;
 }
    .navber{
        margin-top: 18px;
    }
    .nav-menu,.nav-btn-continer{
        display: none;
    }
    .nav-home-icon{
        display: inline;
        width: 1.5rem;
        height: 1.5rem;
    }
    .tow-btn{
        width: 95%;
    }
 #banner{
    width: 100%;
    background-size: 100%;
    background-position: top;
}   
.banner-container{
    padding-bottom: 2rem;
}
.banner-container .banner-img{
    max-width: 55%;
    margin:  0 auto;
}
.banner-container h1{
    font-size: 2rem;
}
.banner-img img{
    width: 30%;
    margin: 0 auto;
    padding: 50px; 
}
.head-on-img{
    left:69% ;
    top: 2%;
}
#about{
    padding-bottom: 2rem;
}
.about-container{
    width: 95%;
    text-align: center;
    padding-top:0;
}
.about-container h1{
    font-size: 2rem;
}
.about-text{
    margin-bottom: 5rem;
}
.about-user-x{
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2.5rem;
    row-gap: 4rem;
}
#quality{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.quality-container{
    width: 95%;
    max-width: 400px;
}
.heading h1,.featured-container h2,.host-container h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.quality-card{
    grid-template-columns:repeat(1,1fr);
    gap: 1rem;
}
.card-container-1{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.about-text .p-1{
    margin-bottom: 1rem;
}
#card-1,#card-2,#card-3{
    grid-row: span 1;
    grid-column: span 1;
}
.featured-container{
    width: 95%;
    max-width: 95%;
    padding-top: 40px;
}
.card-items{
    flex-direction: column;
    gap: 1rem;
}
.video{
    width: 100%;
}
#host{
    width: 100%;
}
.host-container{
    width: 95%;
}
.meet-host-container{
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.meet-host{
    flex-direction: column;
    gap: 1rem;
    width:100%;
}
.host-icon{
    max-width: 50%;
    margin: 0 auto;
    justify-content: center;
}
#foot{
    width: 100%;
    padding-top:2.5rem;
    padding-bottom:2.5rem;
}
.footer-container{
    margin: 0 auto;
    width: 90%;
}
.foot-icon{
    width: 69%;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}
}